@import '../utilities/grid';
@import '../utilities/typography';
@import '../utilities/mixin';


.section-contact{
    padding:15rem 0;
    background-image: linear-gradient(to right bottom,$color-primary-light, $color-primary-dark);

    @include respond(tab-port){
        padding:10rem 0;
    }
}
.light-info{
    font-size:1.6rem;
    color:	#28b485;
}

.heading-contact{
    font-size:2rem;
}

.book{
    background-image: linear-gradient(105deg,
                        rgba($color-white,.9) 0%,
                        rgba($color-white,.9) 50%,
                        transparent 50%),
                    url('../../img/MAP.PNG');
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.2);
   

@include respond(tab-land){
    background-image: linear-gradient(105deg,
                        rgba($color-white,.9) 0%,
                        rgba($color-white,.9) 65%,
                        transparent 65%),
                    url('../../img/MAP.PNG');
    background-size: cover;
}

@include respond(tab-port){
    background-image: linear-gradient(to right,
                        rgba($color-white,.9) 0%,
                        rgba($color-white,.9) 100%),
                    url('../../img/MAP.PNG');
}

&__form{
    width: 50%;
    padding:6rem;
    @include respond(tab-land){
        width: 65%;
    }

    @include respond(tab-port){
        width: 100%;
    }
}
}

